@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");
@import url("/src/stylesheets/global/variables.css");


.header-- {
	display: flex;
    z-index: 1000;
    position: fixed;
	align-items: end;
	justify-content: space-between;
	height: 10vh;
	padding: 4.5rem 1rem 0rem;
	color: var(--details);
}

.container-navbar {
    height: 100%;
    width: 100%;
    display: grid;
    justify-items: end;
    align-content: center;
}

.container-navbar-child {
    height: 80vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.link-Nav  {
    font-size: 1.6rem;
    color: var(--text-color);
    transition: color 300ms cubic-bezier(0.15, 1, 0.35, 1) 0s;
}   

.link-list {
    display: grid;
    height: 100%;
    width: 80%;
    align-content: center;
    grid-template-rows: 6rem 4rem 4rem 4rem 4rem 4rem;
}

.link-list img {
    height: 4.5rem;
    width: 5.3rem;
    padding: .5rem;
}

.link-Nav:hover {
	color: var(--black-text);
}

.header-- .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--details);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
 
}

.bx-menu, .bx-x {
	color: var(--details);
	font-size: 2.2rem;
}



@media only screen and (max-width: 10000px) {
	.header-- .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	.header-- nav {
		position: fixed;
        z-index: 100;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 33.2%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--white);
		transition: 1s;
	}

	.header-- .responsive_nav {
		transform: translateY(100vh);
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}
}

@media only screen and (max-width: 990px) {
	.header-- nav {
		width: 50%;

	}
}

@media only screen and (max-width: 700px) {
	.header-- nav {
		width: 60%;

	}
}

@media only screen and (max-width: 500px) {
	.header-- nav {
		width: 100%;

	}
}