.finance-container {
    height: 40%;
  width: 55%;
}
   
/* ------------------- TITLE -------------------- */

.css-1vhceqgg {
   color: var(--white);
   overflow-wrap: anywhere;
   font-size: 1.6rem;
   letter-spacing: -0.05rem;
   line-height: 1.825rem;
   width: 70%;
}

.css-1schyutt {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-transition: width 300ms,height 300ms;
    transition: width 300ms,height 300ms;
    height: 1.5rem;
}



























.css-10bx1qd {
   -webkit-flex-shrink: 0;
   -ms-flex-negative: 0;
   flex-shrink: 0;
   -webkit-transition: width 300ms,height 300ms;
   transition: width 300ms,height 300ms;
   height: 0.5rem;
}

.css-krqltk {
   color: var(--white);
   overflow-wrap: anywhere;
   font-size: 1rem;
   letter-spacing: -0.01875rem;
   line-height: 1.125rem;
}

.css-1schyutt {
   -webkit-flex-shrink: 0;
   -ms-flex-negative: 0;
   flex-shrink: 0;
   -webkit-transition: width 300ms,height 300ms;
   transition: width 300ms,height 300ms;
   height: 1.5rem;
}


/* ---------------- BUTTONS --------------------- */
.css-cfxo7m {
   color: var(--white);
}

.css-cfxo7m {
   padding: 0;
   background: none;
   font-weight: normal;
   cursor: pointer;
   position: relative;
   display: inline-block;
   -webkit-text-decoration: none;
   text-decoration: none;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   text-overflow: ellipsis;
   touch-action: manipulation;
   -webkit-tap-highlight-color: transparent;
   max-width: 100%;
   font-size: 1rem;
   letter-spacing: -0.01875rem;
   min-height: 1.125rem;
   -webkit-transition: all 200ms;
   transition: all 200ms;
   transition-property: background,box-shadow,color;
   box-shadow: inset 0 0 0 1px rgb(255, 255, 255);
   color: rgb(255, 255, 255);
   height: 3rem;
   padding: 0 2rem 0 1rem; }

.css-1lfoa711 {
color: var(--white);
}



/* --------------- MEDIA QUERY --------------- */
@media (min-width: 960px) {
   .css-1vhceqg {
       letter-spacing: -0.075rem;
   }
}

@media (min-width: 960px) {
   .css-1vhceqg {
       font-size: 2rem;
   }    
}

@media (max-width: 960px) {
   .big-container {
       background-image: url(/src/img/financial-tablet-mobilee.jpeg);
       background-position:center;
   }
   .css-1vhceqgg {
       font-size: 1.4rem;
       width: 90%;
       line-height: 1.2rem;
   }

   .big-container {
       height: 90%;
   }
}

@media (max-width: 768px) {
   .finance-container {
       height: 40%;
       width: 100%;
   }

   .css-1vhceqgg {
       font-size: 1.4rem;
       width: 100%;
   }
}

@media (max-width: 475px) {
   .big-container {
       width: 100%;
       height: 100%;
   }
   
   .small-container {
       display: grid;
       align-items: start;
       justify-items: start;
       width: 90%;
       height: 90%;
   }

   .finance-container {
       height: 60%;
       width: 100%;
   }

   .css-1vhceqgg {
       font-size: 1.5rem;
       width: 95%;
       line-height: 1.7rem;
   }

   .css-1schyutt {
       display: none;
   }

}

