:root {
  /* colors */
  --bg-color: linear-gradient(
    180deg,
    rgb(244, 244, 241) 0%,
    rgb(255, 255, 255) 100%
  );
  --bg-secondary: rgb(62, 64, 65);
  --details: #FFAD0A;
  --grey-text: rgba(0, 0, 0, 0.6);
  --black-text: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --text-color: hsl(273, 4%, 45%);
  --bg-footer-color: rgb(236, 236, 231);

  /* general settings */
  --font-family: Polestar Unica;
  --z-fixed: 100;

  /* general sizes */
  --big-font-size: 1.5rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
}

@font-face {
  src: url(https://www.polestar.com/shared-assets/fonts/polestar-unica/regular.woff2)
      format("woff2"),
    url(https://www.polestar.com/shared-assets/fonts/polestar-unica/regular.woff)
      format("woff");
  font-family: Polestar Unica;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
