@import url('src/stylesheets/global/variables.css');
@tailwind base;
@tailwind components;
@tailwind utilities;


@import url(/src/stylesheets/global/variables.css);


/* ------------------- CONTAINERS FATHERS ------------------ */

.THEYNOWME {
   width: 85%;
}
  

  @media (max-width: 959px) {
   .THEYNOWME  {
    width: 100%;
   }
  }
  

.grandfather-container {
    display: grid;
    align-items: start;
    height: 100vh;
    width: 100%;
}

.father-containers{
    height: 60%;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;

}

.son-container {
    height: 70%;
    width: 90%;
}

/* ------------------- TITLE -------------------- */

.css-1vhceqgg {
    color: var(--white);
    overflow-wrap: anywhere;
    font-size: 2rem;
    letter-spacing: -0.05rem;
    line-height: 2rem;
    width: 70%;
}

.css-10bx1qd {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-transition: width 300ms,height 300ms;
    transition: width 300ms,height 300ms;
    height: 0.5rem;
}

.css-krqltk {
    color: var(--white);
    overflow-wrap: anywhere;
    font-size: 1rem;
    letter-spacing: -0.01875rem;
    line-height: 1.125rem;
}

.css-1schyutt {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-transition: width 300ms,height 300ms;
    transition: width 300ms,height 300ms;
    height: 1.5rem;
}

/* ---------------- BUTTONS --------------------- */
.css-cfxo7m {
    color: var(--white);
}

.css-cfxo7m {
    padding: 0;
    background: none;
    font-weight: normal;
    cursor: pointer;
    position: relative;
    display: inline-block;
    -webkit-text-decoration: none;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-overflow: ellipsis;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    max-width: 100%;
    font-size: 1rem;
    letter-spacing: -0.01875rem;
    min-height: 1.125rem;
    -webkit-transition: all 200ms;
    transition: all 200ms;
    transition-property: background,box-shadow,color;
    box-shadow: inset 0 0 0 1px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    height: 3rem;
    padding: 0 2rem 0 1rem; }

.css-1lfoa711 {
 color: var(--white);
}





/* --------------- MEDIA QUERY --------------- */
@media (min-width: 960px) {
    .css-1vhceqg {
        letter-spacing: -0.075rem;
    }
}

@media (min-width: 960px) {
    .css-1vhceqg {
        font-size: 2rem;
    }    
}

@media (max-width: 960px) {
    .css-1vhceqgg {
        font-size: 1.4rem;
        width: 90%;
        line-height: 1.2rem;
    }

}

@media (max-width: 768px) {
    .css-1vhceqgg {
        font-size: 1.4rem;
        width: 100%;
    }
}

@media (max-width: 475px) {
    .father-containers{
        height: 50%;
        width: 100%;
        display: grid;
        justify-items: center;
        align-items: center;
    }

    .son-container {
        height: 75%;
        width: 90%;
    }
    

    .css-1vhceqgg {
        font-size: 1.5rem;
        width: 95%;
        line-height: 1.7rem;
    }

    .css-1schyutt {
        display: none;
    }

}





