
@import url('src/stylesheets/global/variables.css');

button {
  background-color: transparent;
  color: var(--black-text);
  transition: background-color 0.3s ease, color 0.3s ease; 
}
button:hover:not(.active) {
  color: var(--details);
}
.Finance-container{
    display: grid;
    justify-items: center;
    align-self: start;
    width: 100%;
    height: 130vh; 
}
.Column-setting{
    display: grid;
    place-items: center;
    grid-template-columns: 60% 40%;
    column-gap: 2rem;
    width: 95%;
    height: 100%;
    align-items: start;
}
.column-slider{
    display: grid;
    align-items: start;
    width: 100%;
    height: 85%;
}
.column-content{
    display: grid;
    place-items: center;
    width: 95%;
    height: 90%;
    grid-template-rows: 15% 85%;
}
.title__header--- {
    display: grid;
    align-items: start;
    font-size: 2rem;
    padding-bottom: .2rem;
}
.container__title-- {
    background-color: var(--white);
    height: 5rem;
    width: 100%;
    display: grid;
    align-content: end;
    grid-template-columns: 50% 50%;
}
.Tittle-Finance{
    display: grid;
    width: 100%;
    height: 100%;
    align-items: start;
}
.finance-tittle{
    display: grid;
    width: 90%;
    height: 50%;
    font-size: 2rem;   
}
.Content-Finance{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 64% 36%;
}
.options-finance{
    display: grid;
    align-items: start;
    width: 100%;
    height: 96%;
    grid-template-rows: 53% 47%;
}
.payment{
    display: grid;
    align-items: start;
    width: 100%;
    height: 100%;
}
.section-title-- {
    color: var(--black);
    overflow-wrap: anywhere;
    font-size: 1.5rem;
    letter-spacing: -0.075rem;
    line-height: 2rem;
    margin-top: 1rem;
}
.length{
    display: grid;
    align-items: start;
    width: 100%;
    height: 85%;
}
.result{
    display: grid;
    align-items: center;
    width: 100%;
    height: 100%;
    grid-template-rows: 30% 70%;
}
.result-tittle{
    display: grid;
    align-items: start;
    width: 100%;
    height: 85%;
}
.result-price{
    display: grid;
    align-items: start;
    width: 100%;
    height: 100%;
    grid-template-rows: 40% 60%;
}
.result-price-final{
    display: grid;
    align-items: start;
    width: 100%;
    height: 100%;
}
.nubmer-final{
    display: grid;
    align-items: start;
    width: 100%;
    height: 100%;
}
.section-title--final{
    color: var(--black);
    overflow-wrap: anywhere;
    font-size: 2rem;
    font-weight: bolder;
    letter-spacing: -0.1rem;
    line-height: 2rem;
}
.finance-tittle{
    display: grid;
    width: 90%;
    height: 80%;
    font-size: 2rem;  
}
.section-title--- {
    color: var(--black);
    font-weight: 2.9rem;
    overflow-wrap: anywhere;
    font-size: 1.6rem;
    letter-spacing: 0.008rem;
    line-height: 2rem;
}
.result-color-setting{
    color: var(--grey-text);
    font-weight: 2.9rem;
    overflow-wrap: anywhere;
    font-size: 1.6rem;
    letter-spacing: 0.008rem;
    line-height: 2rem;
}
.dolar-color{
    color: var(--details);
    font-weight: 2.9rem;
    overflow-wrap: anywhere;
    font-size: 1.4rem;
    letter-spacing: 0.008rem;
    line-height: 2rem;
}
@media (max-width: 976px) {
    .Finance-container{
        display: grid;
        justify-items: center;
        align-self: start;
        width: 100%;
        height: 190vh; 
    }
    .Column-setting{
        display: grid;
        place-items: center;
        grid-template-rows: 40% 60%;
        grid-template-columns: 100%;
        column-gap: 2rem;
        width: 95%;
        height: 100%;
        align-items: start;
    }
    .column-content{
        display: grid;
        place-items: center;
        width: 95%;
        height: 100%;
        grid-template-rows: 15% 85%;
    }
}
@media (max-width: 425px) {
    .section-title-- {
        color: var(--black);
        overflow-wrap: anywhere;
        font-size: 1.3rem;
        letter-spacing: -0.075rem;
        line-height: 2rem;
        margin-top: 1rem;
    }
    .accordion-finance label h1 {
        font-size: 1rem;
        grid-column: 1;
        color: var(--text-color)
      }
      .result-color-setting{
        color: var(--grey-text);
        font-weight: 2.9rem;
        overflow-wrap: anywhere;
        font-size: 1rem;
        letter-spacing: 0.008rem;
        line-height: 2rem;
    }
    .dolar-color{
        color: var(--details);
        font-weight: 2.9rem;
        overflow-wrap: anywhere;
        font-size: 1rem;
        letter-spacing: 0.008rem;
        line-height: 2rem;
    }
}
@media (max-width: 1161px) {
    .result-color-setting{
        color: var(--grey-text);
        font-weight: 2.9rem;
        overflow-wrap: anywhere;
        font-size: 1.4rem;
        letter-spacing: 0.008rem;
        line-height: 2rem;
    }
    .dolar-color{
        color: var(--details);
        font-weight: 2.9rem;
        overflow-wrap: anywhere;
        font-size: 1.4rem;
        letter-spacing: 0.008rem;
        line-height: 2rem;
    }
}
/* ---------------------ACORDION BUTTON ---------------------- */
.accordion-finance-button-- {
    font-size: 1rem;
    letter-spacing: -0.01875rem;
    line-height: 1.125rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-right: 1rem;
  }
  .accordion-finance-button-- h1 {
    font-size: 1rem;
    color: var(--grey-text);
  }
  .accordion-finance {
    width: 90%;
    margin-bottom: 3rem;
  }
  .accordion-finance .accordion-finance-body .content-finance li a {
    text-decoration: none;
    color: var(--black-text);
    font-size: 1rem;
    letter-spacing: -0.01875rem;
    font-weight: 400;
  }
  input[type="checkbox"] {
    display: none;
  }
  .accordion-finance label i {
    display: none;
  }
  .accordion-finance {
    width: 90%;
    margin-bottom: 3rem;
    border-block-end: 1px solid var(--black-text);
    transition: color 300ms ease 0s, border 300ms ease 0s;
  }
  .accordion-finance label {
    display: grid;
    grid-template-columns: 25% 75%;
  }
  .accordion-finance label i {
    display: grid;
    color: var(--details); 
    font-size: 1.5rem;
    justify-content: end;
    grid-column: 2;
  }
  .accordion-finance label h1 {
    font-size: 1.3rem;
    grid-column: 1;
    color: var(--text-color)
  }
  .accordion-finance-body .content-finance ul li a{
    font-size: 1.4rem;
  }
  #very-very-little-months{
    font-size: 1.19rem;
    color: var(  --bg-secondary);
  }
  .accordion-finance-button-- {
    font-size: 1rem;
    cursor: pointer;
    padding: 10px;
  }
  .accordion-finance-button--h1 {
    color: var(--black-text);
  }
  .accordion-finance-body {
    color: var(--black-text);
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
  }
  /* Mostrar el contenido cuando el checkbox está marcado */
  input[type="checkbox"]:checked + .accordion-finance-button-- + .accordion-finance-body {
    max-height: 400px;
    padding-left: 1rem;
  }
  /* ---------------------ACORDION BUTTON ---------------------- */